---
import Layout from "../layouts/Layout.astro";
---

<Layout title="about">
    <!-- <div class="text-light bg-primary text-center p-1">
        <h1>About</h1>
    </div> -->
    <section>
        <div class="container my-5">
            <div class="row bio">
                <div class="profile-image col-lg-6 col-xl-4 col-xxl-3 mb-3">
                    <img
                        src="/images/cindy-profile.webp"
                        alt="Cindy Balling Profile Image"
                        class="profile img-fluid d-block mx-auto"
                    />
                </div>
                <div
                    class="col-lg-6 col-xl-8 col-xxl-9 content d-flex align-items-center"
                >
                    <div class="text">
                        <h2>Meet Cindy Balling</h2>
                        <p>
                            Hi, I'm Cindy and I am a diabetes reversal
                            specialist! I am passionate about helping people
                            with diabetes live their best life. It has been so
                            hard for me to see many of my family members
                            struggle with diabetes. I understand what you might
                            be going through. My mission is to help everyone
                            achieve a healthy lifestyle. Please join my coaching
                            program, sign up for my regular diabetes
                            discussions, or browse around this website to learn
                            more. You can change your life and reach your goals.
                        </p>
                        <p>
                            I am a lifestyle medicine coach through the American
                            College of Lifestyle Medicine. I specialize in
                            diabetes reversal and plant-based nutrition. I
                            earned my bachelor's degree in Exercise Science from
                            the University of Utah. I have experience in
                            corporate wellness, working with the developmentally
                            disabled, and with elite athletes. I can't wait to
                            meet you!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container my-5">
            <h2>My Programs</h2>
            <h3>Program 1</h3>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Libero
                ducimus sint in maiores similique aut inventore voluptatibus
                numquam ex minus repellat incidunt optio beatae quaerat, impedit
                fugit, hic dolores distinctio.
            </p>
            <h3>Program 2</h3>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Consequuntur commodi debitis quos consectetur nostrum. Est sunt,
                explicabo quibusdam possimus odit perspiciatis aut doloremque
                laborum minus at, aperiam voluptatibus architecto veniam. Lorem
                ipsum dolor sit amet consectetur adipisicing elit. Odio
                doloribus cumque numquam et quod reprehenderit minus iure?
                Reiciendis repudiandae similique consectetur a hic possimus
                dolor ea neque quis, dicta quibusdam!
            </p>
            <h3>Program 3</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Laudantium velit, ipsa modi ducimus repudiandae corporis error,
                fugiat quod qui sint quam recusandae, nulla quisquam minus aut
                obcaecati maiores reprehenderit nisi. Lorem ipsum dolor, sit
                amet consectetur adipisicing elit. Doloremque velit sit,
                inventore quos impedit magni nam, quae voluptatibus beatae,
                commodi nulla unde dolorum nisi rem sed temporibus ullam tenetur
                vel? Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Esse cumque maxime magni ad reiciendis ipsam totam veritatis
                nostrum, doloribus voluptates. Dolorum perspiciatis iure
                repellat, quo ab quam maxime minima. Eligendi?
            </p>
        </div>
    </section>
    <section>
        <div class="container my-5">
            <h2>FAQs</h2>
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button
                            class="accordion-button"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#collapseOne"
                            aria-expanded="true"
                            aria-controls="collapseOne"
                        >
                            Frequently Asked Question #1
                        </button>
                    </h2>
                    <div
                        id="collapseOne"
                        class="accordion-collapse collapse show"
                        data-bs-parent="#accordionExample"
                    >
                        <div class="accordion-body">
                            Lorem ipsum dolor, sit amet consectetur adipisicing
                            elit. A, distinctio commodi at ipsam quos rem quae,
                            beatae quo excepturi aliquid inventore provident
                            dignissimos hic? Quod in obcaecati nobis
                            necessitatibus hic?
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button
                            class="accordion-button collapsed"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#collapseTwo"
                            aria-expanded="false"
                            aria-controls="collapseTwo"
                        >
                            Frequently Asked Question #2
                        </button>
                    </h2>
                    <div
                        id="collapseTwo"
                        class="accordion-collapse collapse"
                        data-bs-parent="#accordionExample"
                    >
                        <div class="accordion-body">
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Ducimus dolores, delectus provident alias
                            accusantium, dolore labore inventore esse facere
                            nostrum ab laboriosam asperiores odit mollitia illo
                            numquam aliquid obcaecati voluptates.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button
                            class="accordion-button collapsed"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#collapseThree"
                            aria-expanded="false"
                            aria-controls="collapseThree"
                        >
                            Frequently Asked Question #3
                        </button>
                    </h2>
                    <div
                        id="collapseThree"
                        class="accordion-collapse collapse"
                        data-bs-parent="#accordionExample"
                    >
                        <div class="accordion-body">
                            Lorem, ipsum dolor sit amet consectetur adipisicing
                            elit. Error, libero aspernatur, quasi et
                            reprehenderit, modi odio perspiciatis iure ipsam
                            sequi accusantium corrupti alias cupiditate labore
                            tempora! Quas distinctio in laudantium.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</Layout>
<style lang="scss">
    .profile {
        // float: right;
        border-radius: 50%;
        // max-width: 500px;
        height: auto;
    }
</style>
