---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About">
    <section class="my-5">
        <div class="container">
            <h2>Don't let Hearth Disease Control Your life</h2>
            <p>Join an important webinar on July 4, 1776 @ 5:30 pm MST</p>
            <p>
                Are you related to someone with heart disease? Perhaps you are
                overweight, have high blood pressure, high cholesterol, or
                arrhythmia yourself. You can do something about it. Don't miss
                my webinar so you can learn more about heart disease, and the
                steps you can take to prevent or reverse this disease.
            </p>
            <p>
                The webinar will cover:
                <ul>
                    <li>
                        What causes heart disease (it might not be what you
                        think)
                    </li>
                    <li>How to prevent and even reverse heart disease</li>
                    <li>
                        How lifestyle medicine addresses all of the causes of
                        chronic disease
                    </li>
                    <li>What you can do now to get help</li>
                </ul>
            </p>
            <p>Speakers will be:</p>
            <div>Cindy Balling, Certified Lifestyle Medicine Coach (photo)</div>
            <div>
                Dr. Sally Jones M.D., Director of Cardiology at Johns Hopkins
                (photo)
            </div>
            <p>
                If you participate live, you have the chance to win a free
                gizmo!
            </p>
            <button type="button" class="btn btn-primary btn-lg px-4"
                >Reserve Your Spot Today</button
            >
            <!-- - expands booking widget -->
        </div>
    </section>

    <section class="my-5">
        <div class="container">
            <h2>Becoming a Healthier Person Only Takes 5 Days!</h2>
            <p>
                Join with me and many others on a 5 day challenge to become a
                healthier person. For a limited time, I'm going to take on
                anyone as a client for 5 days for free. If you've been making up
                excuses why you aren't as healthy as you want to be, now is the
                time to make a change.
            </p>
            <p>
                <ul class="no-decoration">
                    <li><b>Day 1</b> - Break Your bad habits for good</li>
                    <li><b>Day 2</b> - Eat Delicious food for every meal</li>
                    <li><b>Day 3</b> - Do something you love</li>
                    <li><b>Day 4</b> - Connect deeply with someone</li>
                    <li><b>Day 5</b> - Make a plan</li>
                </ul>
            </p>
            <p>
                I promise if you can put in the effort for just 5 days, you are
                going to feel better immediately and get on the path to build
                habits that last a lifetime.
            </p>
            <button type="button" class="btn btn-primary btn-lg px-4"
                >Take the challenge</button
            >
            <!-- - email signup -->
            <p>[Ticker of how many people have joined so far]</p>
            <!-- - this would come from our marketing tool, just provide formatted text -->
        </div>
    </section>

    <section class="my-5">
        <div class="container">
            <h2>
                Empower Your Wellness Journey with Cindy Balling Health and
                Wellbeing
            </h2>
            <p>
                Welcome to your new beginning with Cindy Balling Health and
                Wellbeing, where every step towards health is backed by rigorous
                science and fueled by our heartfelt dedication to your
                well-being. Our tailored coaching and comprehensive resources
                are designed to foster enduring transformations. Connect with a
                health advocate dedicated to nurturing your growth into the
                thriving individual you aspire to be. Ready to elevate your
                health journey? Activate your FREE initial coaching session by
                clicking below.
            </p>
            <a href="/register">
                <button type="button" class="btn btn-primary btn-lg px-4"
                    >Activate Your Free Coaching Session</button
                >
            </a>
        </div>
    </section>
</Layout>
