---
import Layout from "../layouts/Layout.astro";
import ProgramSection from "../components/ProgramSection.astro";
---

<Layout title="Programs">
    <div class="bg-accent text-center p-1">
        <h1>Programs</h1>
    </div>
    <section id="programs-section" class="container">
        <div class="row my-5 g-3">
            <ProgramSection
                headerText="Program 1"
                heroImage="/images/Hero-Option-1.webp"
                paragraphText="Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, fuga illo. Nihil, ut molestiae quo aliquid consequuntur reprehenderit, officia eveniet quis suscipit placeat non aliquam obcaecati excepturi dolores quia unde."
            />
            <ProgramSection
                headerText="Program 2"
                heroImage="/images/fruit.webp"
                paragraphText="Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem incidunt amet explicabo dolorum voluptatum harum dolore delectus temporibus modi dignissimos, perspiciatis aspernatur quis quo ipsum, non animi ipsa laboriosam obcaecati!"
            />
            <ProgramSection
                headerText="Program 3"
                heroImage="/images/exercise.webp"
                paragraphText="Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellendus quisquam minus enim pariatur nesciunt aspernatur corrupti fugiat odit nulla perferendis exercitationem, ducimus deserunt sequi earum accusamus a, animi quis repellat."
            />
            <ProgramSection
                headerText="Program 4"
                heroImage="/images/red-fruit.webp"
                paragraphText="Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, magni. Architecto neque molestias quibusdam suscipit ex. Quae, consectetur autem dolorem beatae, sunt modi impedit recusandae perspiciatis debitis maiores quod temporibus."
            />
        </div>
    </section>
    <section id="booking-widget" class="my-5">
        <div class="container">
            <h2>Book Now</h2>
            <div
                id="better-inline-booking-widget-container"
                class="border py-3 px-4"
            >
                <!-- Practice Better Booking Widget: start -->
                <div
                    id="better-inline-booking-widget"
                    class="better-inline-booking-widget m-auto"
                    data-url="https://my.practicebetter.io"
                    data-service="640f973df01370610dc875f1"
                    data-hash="625734468800d1158772ce78"
                    data-theme="009977"
                    data-theme-accent="fff9b9"
                    style="width: 100%; max-width: 550px; height: 800px"
                    data-scrollbar-visible="false"
                >
                </div>
                <script
                    type="text/javascript"
                    src="https://cdn.practicebetter.io/assets/js/booking.widget.js"
                ></script>
                <!-- Practice Better Booking Widget: end -->
            </div>
        </div>
    </section>
</Layout>
