---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Testimonials">
    <div class="bg-accent text-center p-1">
        <h1>Testimonials</h1>
    </div>
    <section id="testimonials">
        <div class="container">
            <div class="row row-cols-1 row-cols-lg-3 gx-4 pt-5">
                <div class="col mb-3">
                    <div
                        class="shadow bg-white rounded text-center p-5 h-100 d-flex flex-column justify-content-center"
                    >
                        <blockquote class="lead">
                            "Before joining Cindy's program, I felt overwhelmed
                            by my diabetes diagnosis. But with Cindy's guidance
                            on nutrition and exercise, I've not only reversed my
                            diabetes, but I've also regained my confidence. It's
                            not just a program; it's a life changer."
                        </blockquote>
                        <h3>James</h3>
                    </div>
                </div>
                <div class="col mb-3">
                    <div
                        class="shadow bg-white rounded text-center p-5 h-100 d-flex flex-column justify-content-center"
                    >
                        <blockquote class="lead">
                            "Cindy's blend of personal coaching and practical
                            lifestyle medicine has transformed my life. The
                            personalized nutrition planning and support group
                            have been instrumental in my journey towards a
                            healthier me. I've never felt more supported or
                            understood."
                        </blockquote>
                        <h3>Maria</h3>
                    </div>
                </div>
                <div class="col mb-3">
                    <div
                        class="shadow bg-white rounded text-center p-5 h-100 d-flex flex-column justify-content-center"
                    >
                        <blockquote class="lead">
                            "I was skeptical at first, thinking it was another
                            health fad. But Cindy's program is the real deal -
                            grounded in science and genuinely effective. Her
                            hands-on coaching and the wealth of educational
                            materials have helped me make lasting changes. I'm
                            healthier and happier than I've been in years."
                        </blockquote>
                        <h3>Liam</h3>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="container">
            <div class="row my-5">
                <div class="col-md-2">
                    <img
                        src="/images/profile_picture.png"
                        alt="Reviewer's photo"
                        class="img-fluid d-block mx-auto"
                    />
                </div>
                <div class="col-md-1 horizontal-divider">
                    <hr class="d-md-none" />
                    <div class="line d-none d-md-block"></div>
                </div>
                <div
                    class="col-md-9 d-flex flex-column justify-content-center align-items-center align-items-md-start"
                >
                    <blockquote class="lead">
                        "Before joining Cindy's program, I felt overwhelmed by
                        my diabetes diagnosis. But with Cindy's guidance on
                        nutrition and exercise, I've not only reversed my
                        diabetes, but I've also regained my confidence. It's not
                        just a program; it's a life changer."
                    </blockquote>
                    <h3>James</h3>
                </div>
            </div>
            <div class="row my-5">
                <div class="col-md-2">
                    <img
                        src="/images/profile_picture.png"
                        alt="Reviewer's photo"
                        class="img-fluid d-block mx-auto"
                    />
                </div>
                <div class="col-md-1 horizontal-divider">
                    <hr class="d-md-none" />
                    <div class="line d-none d-md-block"></div>
                </div>
                <div
                    class="col-md-9 d-flex flex-column justify-content-center align-items-center align-items-md-start"
                >
                    <blockquote class="lead">
                        "Cindy's blend of personal coaching and practical
                        lifestyle medicine has transformed my life. The
                        personalized nutrition planning and support group have
                        been instrumental in my journey towards a healthier me.
                        I've never felt more supported or understood."
                    </blockquote>
                    <h3>Maria</h3>
                </div>
            </div>
            <div class="row my-5">
                <div class="col-md-2">
                    <img
                        src="/images/profile_picture.png"
                        alt="Reviewer's photo"
                        class="img-fluid d-block mx-auto"
                    />
                </div>
                <div class="col-md-1 horizontal-divider">
                    <hr class="d-md-none" />
                    <div class="line d-none d-md-block"></div>
                </div>
                <div
                    class="col-md-9 d-flex flex-column justify-content-center align-items-center align-items-md-start"
                >
                    <blockquote class="lead">
                        "I was skeptical at first, thinking it was another
                        health fad. But Cindy's program is the real deal -
                        grounded in science and genuinely effective. Her
                        hands-on coaching and the wealth of educational
                        materials have helped me make lasting changes. I'm
                        healthier and happier than I've been in years."
                    </blockquote>
                    <h3>Liam</h3>
                </div>
            </div>
        </div> -->
    </section>
</Layout>
