---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Testimonials">
    <div class="bg-accent text-center p-1">
        <h1>Testimonials</h1>
    </div>
    <section id="testimonials">
        <div class="container">
            <div class="row my-5">
                <div class="col-md-2">
                    <img
                        src="/images/profile_picture.png"
                        alt="Reviewer's photo"
                        class="img-fluid d-block mx-auto"
                    />
                </div>
                <div class="col-md-1 horizontal-divider">
                    <hr class="d-md-none" />
                    <div class="line d-none d-md-block"></div>
                </div>
                <div
                    class="col-md-9 d-flex flex-column justify-content-center align-items-center align-items-md-start"
                >
                    <blockquote class="lead">
                        "Lorem ipsum, dolor sit amet consectetur adipisicing
                        elit. Magni, voluptate voluptates? Atque rem est in a!
                        Aspernatur adipisci, natus illo sunt quam at quia
                        accusamus similique fugit sit dicta ex."
                    </blockquote>
                    <h3>Reviewer</h3>
                </div>
            </div>
            <div class="row my-5">
                <div class="col-md-2">
                    <img
                        src="/images/profile_picture.png"
                        alt="Reviewer's photo"
                        class="img-fluid d-block mx-auto"
                    />
                </div>
                <div class="col-md-1 horizontal-divider">
                    <hr class="d-md-none" />
                    <div class="line d-none d-md-block"></div>
                </div>
                <div
                    class="col-md-9 d-flex flex-column justify-content-center align-items-center align-items-md-start"
                >
                    <blockquote class="lead">
                        "Lorem ipsum, dolor sit amet consectetur adipisicing
                        elit. Magni, voluptate voluptates? Atque rem est in a!
                        Aspernatur adipisci, natus illo sunt quam at quia
                        accusamus similique fugit sit dicta ex."
                    </blockquote>
                    <h3>Reviewer</h3>
                </div>
            </div>
            <div class="row my-5">
                <div class="col-md-2">
                    <img
                        src="/images/profile_picture.png"
                        alt="Reviewer's photo"
                        class="img-fluid d-block mx-auto"
                    />
                </div>
                <div class="col-md-1 horizontal-divider">
                    <hr class="d-md-none" />
                    <div class="line d-none d-md-block"></div>
                </div>
                <div
                    class="col-md-9 d-flex flex-column justify-content-center align-items-center align-items-md-start"
                >
                    <blockquote class="lead">
                        "Lorem ipsum, dolor sit amet consectetur adipisicing
                        elit. Magni, voluptate voluptates? Atque rem est in a!
                        Aspernatur adipisci, natus illo sunt quam at quia
                        accusamus similique fugit sit dicta ex."
                    </blockquote>
                    <h3>Reviewer</h3>
                </div>
            </div>
        </div>
    </section>
</Layout>
<style lang="scss"></style>
