<section
    id="hero"
    class="hero"
    style="background-image: url(/photos/massage-hero.webp);"
>
    <div class="container">
        <div
            class="mask col-md-8 px-4 py-5 my-5 container text-center text-black"
        >
            <h1 class="display-5 fw-bold">
                Helping you and your friends on your road to wellness.
            </h1>
            <div class="col-10 col-md-8 mx-auto">
                <p class="lead mb-4 text-dark">
                    Empowering your journey to wellness with expert massage,
                    tailored exercise guidance, and essential oil health
                    support.
                </p>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                    <a href="/booking">
                        <button
                            type="button"
                            class="btn btn-primary btn-lg px-4 gap-3"
                            >Book Now</button
                        >
                    </a>
                    <a href="/services">
                        <button
                            type="button"
                            class="btn btn-outline-secondary btn-lg px-4"
                            >Services</button
                        >
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
